<!DOCTYPE html>
<html lang="fr">
{% block header %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/letter-l-64-213426.png') }}">
    <title>Laticce</title>
    <link href="{{ url_for('static', filename='css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/helper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lib/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/lib/owl.theme.default.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
</head>

{% endblock %}

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    {% block nav %}
    <div id="main-wrapper">
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href= {{ url_for( 'index') }}>
                        <img class="img-fluid" src="{{ url_for('static', filename='images/Bannière_Logo_LATICCE_(transparent).png') }}" style="width: 70%;" />
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <!-- <li>
                                        <a href="#">
                                            <i class="ti-user"></i> Mon profil</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-settings"></i> Parametres </a>
                                    </li> -->
                                    <li>
                                        <a href= {{ url_for( "security.logout") }}>
                                            <i class="fa fa-power-off"></i> Deconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
            </nav>
            </div>
            <div class="left-sidebar">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li class="nav-devider"></li>
                            <li class="nav-label">Accueil</li>
                            <li>
                                <a href= {{ url_for( 'index') }}>
                                    <i class="fa fa-tachometer"></i>
                                    <span>Tableau de bord</span>
                                </a>
                            </li>
                            <li class="nav-label">Données</li>
                            <li>
                                <a href= {{ url_for( 'music') }}>
                                    <i class="fa fa-music"></i>
                                    <span>Musique</span>
                                </a>
                            </li>
                            <li>
                                <a href= {{ url_for( 'book') }}>
                                    <i class="fa fa-book"></i>
                                    <span>Livre</span>
                                </a>
                            </li>
                            <li>
                                <a href= {{ url_for( 'movie') }}>
                                    <i class="fa fa-film"></i>
                                    <span>Audiovisuel</span>
                                </a>
                            </li>
                            {% if current_user.has_role('admin') %}
                            <li class="nav-label">Fonctionnalités</li>
                            <li>
                                <a href= {{ url_for( 'upload') }}>
                                    <i class="fa fa-upload"></i>
                                    <span>Importer un fichier</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if current_user.has_role('member') %}
                            <li class="nav-label">Fonctionnalités</li>
                            <li>
                                <a href= {{ url_for( 'upload') }}>
                                    <i class="fa fa-upload"></i>
                                    <span>Importer un fichier</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if current_user.has_role('admin') %}
                            <li>
                                <a href= {{ url_for( 'uploadManagement') }}>
                                    <i class="fa fa-cogs"></i>
                                    <span>Gestion des imports</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if current_user.has_role('member') %}
                            <li>
                                <a href= {{ url_for( 'uploadManagement') }}>
                                    <i class="fa fa-cogs"></i>
                                    <span>Gestion des imports</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if current_user.has_role('admin') %}
                            <li>
                                <a href= {{ url_for( 'userManagement') }}>
                                    <i class="fa fa-users"></i>
                                    <span>Gestion des utilisateurs</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endblock %}
            <div class="page-wrapper">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">{% block title %}Tableau de bord {% endblock %} </h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href= {{ url_for( 'index') }}>Accueil</a>
                            </li>
                            <li class="breadcrumb-item active"> {{ self.title() }}</li>
                        </ol>
                    </div>
                </div>

                {% block content %} {% endblock %}

                <footer class="footer"> © 2018 All rights reserved.</footer>
            </div>
        </div>
        {% block script %}
        <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap/js/bootstrap.min.js') }}"></script>>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/moment/moment.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <script src="{{ url_for('static', filename='js/lib/owl-carousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/owl-carousel/owl.carousel-init.js') }}"></script>
        {% endblock %}
</body>
</html>