{% extends "layouts/security.html" %} 
{% from "security/_macros.html" import render_field_with_errors, render_field %}

<h1>{{ _('Login') }}</h1>

{% block content %}
<style>
    .form-group label {
        display: None;
    }
</style>

<div id="main-wrapper">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="alert alert-secondary" role="alert">
        {% include "security/_messages.html" %}
    </div>
    {% endif %} {% endwith %}
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <img id="logo_laticce" src="../static/images/logo_laticce.jpg" class="img-fluid" alt="Responsive image">
                            <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                                {{ login_user_form.hidden_tag() }}
                                <div class="form-group">
                                    {{ render_field_with_errors(login_user_form.email, class_="form-control",placeholder="Email") }}
                                </div>
                                <div class="form-group">
                                    {{ render_field_with_errors(login_user_form.password, class_="form-control",placeholder="Mot de passe") }}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        {{ render_field_with_errors(login_user_form.remember) }}
                                    </label>
                                    <label class="pull-right">
                                        <a href="{{ url_for_security('forgot_password') }}">Mot de passe oublié?</a>
                                    </label>
                                </div>
                                {{ render_field(login_user_form.next) }} 
                                {{ render_field(login_user_form.submit, class_="btn btn-primary btn-flat m-b-30 m-t-30") }}
                                <div class="register-link m-t-15 text-center">
                                    <p>Pas encore de compte ?
                                        <a href="{{ url_for_security('register') }}"> S'inscrire</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}