{% extends "layouts/security.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<style>
    .form-group label{
      display: None;
    }
    </style>
<div id="main-wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-secondary" role="alert">
                {% include "security/_messages.html" %}
              </div>
              {% endif %}
              {% endwith %}
  <div class="unix-login">
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-lg-4">
                  <div class="login-content card">
                      <div class="login-form">
                          <img id="logo_laticce" src="../static/images/logo_laticce.jpg" class="img-fluid" alt="Responsive image">
                          <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                              <div class="form-group">
                                  {{ register_user_form.hidden_tag() }}
                                  {{ render_field_with_errors(register_user_form.email, class_="form-control",placeholder="Email") }}
                              </div>
                              <div class="form-group">
                                  {{ render_field_with_errors(register_user_form.last_name, class_="form-control",placeholder="Nom") }}
                              </div>
                              <div class="form-group">
                                  {{ render_field_with_errors(register_user_form.first_name, class_="form-control",placeholder="Prénom") }}
                              </div>
                              <div class="form-group">
                                    {{ render_field_with_errors(register_user_form.company, class_="form-control",placeholder="Entreprise") }}
                                </div>
                                <div class="form-group">
                                        {{ render_field_with_errors(register_user_form.function, class_="form-control",placeholder="Role") }}
                                    </div>
                              <div class="form-group">
                                  {{ render_field_with_errors(register_user_form.password, class_="form-control",placeholder="Mot de passe") }}
                              </div>
                              <div class="form-group">
                                  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm, class_="form-control",placeholder="Confirmer le mot de passe") }}
  {% endif %}
                              </div>
                              {{ render_field(register_user_form.submit, class_="btn btn-primary btn-flat m-b-30 m-t-30") }}
                              {% include "security/_messages.html" %}
                              <div class="register-link m-t-15 text-center">
                                  <p>Déjà inscrit ? <a href="{{ url_for_security('login') }}"> Se connecter</a></p>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}



