{% from "security/_macros.html" import render_field_with_errors, render_field %} 
{% extends "layouts/security.html" %}

{% block content %}
<style>
  .login-form label {
    display: None;
  }
</style>

<div id="main-wrapper">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <div class="alert alert-secondary" role="alert">
    {% include "security/_messages.html" %}
  </div>
  {% endif %} {% endwith %}
  <div class="unix-login">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="login-content card">
            <div class="login-form">
              <img id="logo_laticce" src="../static/images/logo_laticce.jpg" class="img-fluid" alt="Responsive image">
              <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
                {{ reset_password_form.hidden_tag() }} 
                {{ render_field_with_errors(reset_password_form.password, class_="form-control",placeholder="Mot de passe") }} 
                {{ render_field_with_errors(reset_password_form.password_confirm, class_="form-control",placeholder="Confirmer le mot de passe") }} 
                {{ render_field(reset_password_form.submit, class_="btn btn-primary btn-flat m-b-30 m-t-30") }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}