<p>{{ _('Bienvenue %(name)s!', name =user.first_name) }}</p>

{% if security.confirmable %}
<p>{{ _('Pour confirmer votre inscription, veuillez cliquer sur le lien ci-dessous:') }}</p>


<p><a href="{{ confirmation_link }}">{{ _('Confirmer mon compte') }}</a></p>
{% endif %}
