{% extends "layouts/layout.html" %}
{% block title %} Effectuer une collecte {% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control custom-select">
                                    <option>--Selectionner un média</option>
                                    <option>Musique</option>
                                    <option>Livre</option>
                                    <option>Audiovisuel</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Plateforme</label>
                                <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                    <option value="Category 1">Tous</option>
                                    <option value="Category 2">Amazon</option>
                                    <option value="Category 3">Spotify</option>
                                    <option value="Category 4">Itunes</option>
                                    <option value="Category 5">Google Play</option>
                                    <option value="Category 6">Netflix</option>
                                    <option value="Category 7">Youtube</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Fichier de critères</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Pays</label>
                                <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                    <option value="Category 1">Tous</option>
                                    <option value="Category 2">France</option>
                                    <option value="Category 3">Canada</option>
                                    <option value="Category 4">Etats-Unis</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-primary">Collecter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}