{% extends "layouts/layout.html" %}

        {% block content %} 

            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-database f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                        {% set total = musicCount + movieCount + bookCount %}
                                    <h2>{{ total }}</h2>
                                    <p class="m-b-0">Total</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-music f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ musicCount }}</h2>
                                    <p class="m-b-0">Musique</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-book f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ bookCount }}</h2>
                                    <p class="m-b-0">Livre</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-film f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ movieCount }}</h2>
                                    <p class="m-b-0">Audiovisuel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<div class ="row"> 
    <div class="col-md-6">
    <div class="card">
            <div class="card-title">
                    <h4>Indice de découvrabilité</h4>
                </div>
   
                <canvas id="myChart"></canvas>

            </div>
            </div>
            <div class="col-md-6">
                    <div class="card">
                
                            <div class="card-title">
                                    <h4>Dernières collectes</h4>
                                </div>
                                <div class="card-body">
                                        <div class="table-responsive">
        
                                            <table id="importTableIndex" class="table table-bordered table-striped" data-page-length="5">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Type</th>
                                                        <th>Nom du fichier</th>
                                                        <th>Nombre de ligne</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in importItems %}
                                                    <tr>
                                                        <td>{{ item.import_date.strftime('%Y-%m-%d %HH%M') }}</td>
                                                        <td>{{ item.media_type }}</td>
                                                        <td>{{ item.file_name }}</td>
                                                        <td>{{ item.input_number }}</td>
                                                    </tr>
                                                    {% endfor %}
                                             
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                
                            </div>
                            </div>
            </div>

               {% endblock %}

{% block script %}

{{ super() }}
<script src="{{ url_for('static', filename='js/lib/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/datatables-init.js') }}"></script>


<script>




var chartDataSpotify = []
{% for item in musicIndiceSpotifyItem %}
var coordinatesSpotify ={ x: "{{item.x_date}}", y : {{item.y_value}} }
chartDataSpotify.push(coordinatesSpotify)
{% endfor %}
chartDataSpotify.sort(function(a, b){
    var dateA=new Date(a.x), dateB=new Date(b.x)
    return dateA-dateB //sort by date ascending
})

var chartDataGoogle = []
{% for item in musicIndiceGooglePlayItem %}
var coordinateGoogle ={ x: "{{item.x_date}}", y : {{item.y_value}} }
chartDataGoogle.push(coordinateGoogle)
{% endfor %}
chartDataGoogle.sort(function(a, b){
    var dateA=new Date(a.x), dateB=new Date(b.x)
    return dateA-dateB //sort by date ascending
})


var chartDataApple = []
{% for item in  musicIndiceAppleItem %}
var coordinatesApple ={ x: "{{item.x_date}}", y : {{item.y_value}} }
chartDataApple.push(coordinatesApple)
{% endfor %}
chartDataApple.sort(function(a, b){
    var dateA=new Date(a.x), dateB=new Date(b.x)
    return dateA-dateB //sort by date ascending
})



        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [ 
                {
                    label: 'Apple',
                    data: chartDataApple,
                  
                    borderColor: [
                    'rgba(153, 153, 153, 1)'
                        
                    ],
                    borderWidth: 2, 
                    backgroundColor : 'rgba(153, 153, 153, 1)',
                    fill: false
                },  
                {
                    label: 'Google Play',
                    data: chartDataGoogle,
                  
                    borderColor: [
                    'rgba(255,61,2,1)'
                        
                    ],
                    borderWidth: 2, 
                    backgroundColor : 'rgba(255,61,2,1)',
                    fill: false
                },          
                {
                    label: 'Spotify',
                    data: chartDataSpotify,
                  
                    borderColor: [
                    'rgba(30, 215, 96, 1)'
                        
                    ],
                    borderWidth: 2, 
                    backgroundColor : 'rgba(30, 215, 96, 1)',
                    fill: false
                },          
                              
            ]
            },
            options: {
                responsive: true,  
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max : 1,
                            fixedStepSize: 0.05
                        }
                    }],

                     xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        quarter: 'MMM YYYY'
                    }
                }
                }],
                }
            }
        });
        </script>

{% endblock %}