{% extends "layouts/layout.html" %}
{% block title %} Musique {% endblock %} {% block content %}
<!-- End Bread crumb -->
<!-- Container fluid  -->

<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Données</h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive m-t-40">
                        <table id="musicTable" class="table table-bordered table-striped" style="width:100%">
                            <div class="row">
                            <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data-column="0" checked id="customCheck0">
                                        <label class="custom-control-label" for="customCheck0">ID</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="1" checked id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Plateforme</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="2" checked id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Type</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="3" checked id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">Artiste</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="4" checked  id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4">URL Artiste</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="5" checked  id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">ISNI Artiste</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" data-column="6" checked id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6">Nom album</label>
                                        </div>
                                      
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="7" checked  id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">Code barre</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="8" checked  id="customCheck8">
                                                <label class="custom-control-label" for="customCheck8">Nom piste</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="9"  checked  id="customCheck9">
                                                <label class="custom-control-label" for="customCheck9">ISRC</label>
                                            </div>
                                            </div>
                                            <div class="col-lg-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="10"  checked id="customCheck10">
                                                <label class="custom-control-label" for="customCheck10">URL Item</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="11"  checked id="customCheck11">
                                                <label class="custom-control-label" for="customCheck11">Genre</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="12" checked   id="customCheck12">
                                                <label class="custom-control-label" for="customCheck12">Note</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="13" checked  id="customCheck13">
                                                <label class="custom-control-label" for="customCheck13">Date de sortie</label>
                                            </div>
                                       
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="14"  checked id="customCheck14">
                                                <label class="custom-control-label" for="customCheck14">Liste de référence</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="15"  checked id="customCheck15">
                                                <label class="custom-control-label" for="customCheck15">Date de collecte</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="16"  checked id="customCheck16">
                                                <label class="custom-control-label" for="customCheck16">Présence</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="17" checked   id="customCheck17">
                                                <label class="custom-control-label" for="customCheck17">Visibilité</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="18" checked  id="customCheck18">
                                                <label class="custom-control-label" for="customCheck18">Recommandation</label>
                                            </div>
                                           
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" data-column="19" checked   id="customCheck19">
                                                <label class="custom-control-label" for="customCheck19">Indice</label>
                                            </div>

                                        </div>
                            <thead>
                               
                                <tr>
                                    <th>ID</th>
                                    <th>Plateforme</th>
                                    <th>Type</th>
                                    <th>Artiste</th>
                                    <th>Url Artiste</th>
                                    <th>ISNI Artiste</th>
                                    <th>Nom album</th>
                                    <th>Code barre</th>
                                    <th>Nom Piste</th>
                                    <th>ISRC</th>
                                    <th>URL Item</th>
                                    <th>Genre</th>
                                    <th>Note</th>
                                    <th>Date de sortie</th>
                                    <th>Liste de référence</th>
                                    <th>Date de collecte</th>
                                    <th>Présence</th>
                                    <th>Visibilité</th>
                                    <th>Recommandation</th>
                                    <th>Indice</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
{% endblock %} {% block script %} {{ super() }}


<!-- scripit init-->
<script src="{{ url_for('static', filename='js/lib/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/datatables-init.js') }}"></script>



{% endblock %}
