{% extends "layouts/layout.html" %} {% block header %} {{ super() }}
<link href="../static/css/lib/dropzone/dropzone.css" rel="stylesheet"> {% endblock %} {% block title %} Importer un fichier {% endblock %} {% block content %}
<div class="container-fluid">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <li>{{ message }}</li>
    </div>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div class="card">
      <div class="row" id="updateDatabase" style="display: none;">
          <div class="col-lg-12 text-center">
            <p>Mise à jour de la base de données en cours<br>Ne pas quitter la page
              <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </p>
          </div>
        </div>
    <form method=post enctype=multipart/form-data id="test" data-toggle="validator">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Type</label>
            <select class="form-control custom-select" name="media" required>
              <option>--Selectionner un média</option>
              <option>Musique</option>
              <option>Livre</option>
              <option>Audiovisuel</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Fichier</label>
            <div class="custom-file">
              <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="customFile">Choisir un fichier</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button type="submit" value=Upload class="btn btn-primary" id="addToDatabase">Ajouter a la base de données</button>
        </div>
      </div>

   

    </form>
  </div>

  <div class="card">
    <h4>Documentation
      <h4>
        <p>
          <b>Règles générales: </b>Les fichiers doivent être importer au format Excel(xls ou xlsx), tous les champs ne doivent pas
          être nécessairement remplis. Les fichiers doivent comporter une seule et unique page.</p>
        <p>Ci-dessous les différents modèles à respecter : </p>
        <div id="accordion">
          <div class="card">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Musique
              </button>
              </h5>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="table-responsive m-t-40">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Plateforme</th>
                      <th>Type</th>
                      <th>Artiste</th>
                      <th>Url Artiste</th>
                      <th>ISNI Artiste</th>
                      <th>Nom album</th>
                      <th>Code barre</th>
                      <th>Nom Piste</th>
                      <th>ISRC</th>
                      <th>URL Item</th>
                      <th>Genre</th>
                      <th>Note</th>
                      <th>Date de sortie</th>
                      <th>Liste de référence</th>
                      <th>Date de collecte</th>
                      <th>Présence</th>
                      <th>Visibilité</th>
                      <th>Recommandation</th>
                      <th>Indice</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <h5>
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Livre
              </button>
            </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              A venir
            </div>
          </div>
          <div class="card">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Audiovisuel
              </button>
            </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              A venir
            </div>
          </div>
        </div>
  </div>
</div>

{% endblock %} {% block script %} {{ super() }}

<script>
  $('#inputGroupFile02').on('change', function () {
    var fileName = $(this).val().replace(/.*(\/|\\)/, '');;
    $(this).next('.custom-file-label').html(fileName);
  })

  $("#addToDatabase").click(function () {
    $("#updateDatabase").show();
  });
</script> {% endblock %}