{% extends "layouts/layout.html" %} {% block title %} Gestion des imports {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des fichiers importés</h4>
                    <div class="row" id="updateDatabase" style="display: none;">
                        <div class="col-lg-12 text-center">
                            <p>Mise à jour de la base de données en cours<br>Ne pas quitter la page
                                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                            </p>
                        </div>
                    </div>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive m-t-40">
                        <table id="importTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom du fichier</th>
                                    <th>Date d'import</th>
                                    <th>Type de media</th>
                                    <th>Chercheur</th>
                                    <th>Nombre de ligne</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in importItems %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.file_name }}</td>
                                    <td>{{ item.import_date.strftime('%Y-%m-%d %HH%M') }}</td>
                                    <td>{{ item.media_type }}</td>
                                    <td>{{ item.importer_name }}</td>
                                    <td>{{ item.input_number }}</td>
                                    <td>
                                        <center>
                                            <button type="button" class="btn btn-danger btn-flat btn-sm" value = "{{ item.id }}">
                                                <span class="badge badge-danger">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </button>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
{% endblock %} {% block script %} {{ super() }}

<!-- scripit init-->
<script src="{{ url_for('static', filename='js/lib/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/datatables-init.js') }}"></script>
<script> 

    $("#addToDatabase").click(function () {
        
        $("#updateDatabase").show();
    });

   $(".btn-danger").click(function () {
    var fired_button = $(this).val();
    $(".btn-danger").attr("disabled", true);
    $("#updateDatabase").show();

    $.ajax({
        data : {
            idItem : fired_button
        },
        type : 'POST',
        url : '/uploadManagement'
    })
    .done(function(data) {

            $("#updateDatabase").hide();
            window.location.href = "/uploadManagement";
              
    });

    event.preventDefault();
});


</script> {% endblock %}