{% extends "layouts/layout.html" %} {% block title %} Gestion des utilisateurs {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste des utilisateurs inscrits</h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive m-t-40">
                        <table id="userTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Entreprise</th>
                                    <th>Rôle</th>
                                    <th>Etat du compte</th>
                                    <th>Droit</th>
                                    <th>Editer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in rows %}
                                <tr>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.last_name }}</td>
                                    <td>{{ row.first_name }}</td>
                                    <td>{{ row.company }}</td>
                                    <td>{{ row.function }}</td>
                                    {% if row.active %}
                                    <td>
                                        <span class="badge badge-success">Actif</span>
                                    </td>
                                    {% else %}
                                    <td>
                                        <span class="badge badge-danger">Désactivé</span>
                                    </td>
                                    {% endif %}
                                    </td>
                                    {% if row.has_role("admin") %}
                                    <td>Administrateur</td>
                                    {% elif row.has_role("member") %}
                                    <td>Chercheur</td>
                                    {% elif row.has_role("partner") %}
                                    <td>Partenaire</td>
                                    {% else %}
                                    <td>Aucun</td>
                                    {% endif %}
                                    <td>
                                        <center>
                                            <button type="button" class="btn btn-info btn-flat btn-sm" data-toggle="modal" data-target="#editModal{{ row.id }}">
                                                <span class="badge badge-info">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                            </button>
                                        </center>
                                    </td>
                                    <div class="modal" id="editModal{{ row.id }}" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Editer le compte : {{ row.email }}</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form action= {{ url_for( 'userManagement') }} method="POST">
                                                        <input type="hidden" name="userMail" value="{{ row.email }}" />
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Attribuer des droits</label>
                                                            <select class="form-control" name="userRight">
                                                                <option>Aucun</option>
                                                                <option>Partenaire</option>
                                                                <option>Chercheur</option>
                                                                <option>Administrateur</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect2">Etat du compte</label>
                                                            <select class="form-control" name="userActivation">
                                                                <option>Activer</option>
                                                                <option>Désactiver</option>
                                                            </select>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" value="submit" class="btn btn-primary">Sauvegarder</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End PAge Content -->
</div>
{% endblock %} {% block script %} {{ super() }}


<!-- scripit init-->
<script src="{{ url_for('static', filename='js/lib/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/datatables/datatables-init.js') }}"></script> {% endblock %}
